body {
	margin:0;
	background-color:#E0E4CC;
}


input.MyButton {
width: 200px;
padding: 20px;
font-weight: bold;
font-size: 100%;
background: #3366CC;
color: #FFFFFF;
cursor: pointer;
border: 1px solid #999999;
border-radius: 10px;
-webkit-box-shadow: 6px 6px 5px #999999;
-moz-box-shadow: 6px 6px 5px #999999;
box-shaddow: 6px 6px 5px; #999999;
}
input.MyButton:hover {
color: black;
background: #3366CC;
border: 1px solid #A3A3A3;
-webkit-box-shadow: 2px 2px 5px #666666;
-moz-box-shadow: 2px 2px 5px #666666;
box-shaddow: 2px 2px 5px; #666666;
}


.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('star-off.svg');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3e8e41;
}

ul.topnav li {float: right;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 25px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #111;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}
#EDeC{
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 15px 25px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 20px;
}
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }