<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:security="http://www.springframework.org/schema/security"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

	<security:http auto-config="true">
		<security:intercept-url pattern="/sign"
								access="isAnonymous()" />
		<security:intercept-url pattern="/loginfailed"
								access="isAnonymous()" />
		<!--idk cat de bine e sa dau access tuturor la css/JS but anyway-->
		<security:intercept-url pattern="/resources/**"
								access="permitAll"/>

		<security:intercept-url pattern="/myaccount"
								access="hasRole('ROLE_USER')" />

		<!--la logare se creeaza un JSessionId salvat in cookie-->
		<security:form-login login-page="/sign"
							 default-target-url="/home"
							 always-use-default-target="true"
							 authentication-failure-url="/loginfailed"
							 login-processing-url="/j_spring_security_check"
							 username-parameter="j_username"
							 password-parameter="j_password"/>
		<security:logout logout-success-url="/sign" logout-url="/j_spring_security_logout" delete-cookies="true"/>
		<security:csrf disabled="true" />
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider>
			<security:jdbc-user-service
					data-source-ref="dataSource"
					users-by-username-query="select u.username, u.password,1 from users u where u.username=?"
					authorities-by-username-query="select u.username, r.role from users u, user_roles r where u.id=r.user_id and u.username=?" />
		</security:authentication-provider>
	</security:authentication-manager>

	<!--dun forget to add BCrypt pass encryption-->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@//localhost:1521/XE" />
		<property name="username" value="edec" />
		<property name="password" value="edec" />
	</bean>

	<bean id="userDetailsService" class="org.springframework.security.core.userdetails.jdbc.JdbcDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>